<h2>Editar </h2>

<%= form_for :chofer do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>


  <div class="field">
    <%= f.label :contraseña %> <i>
      
    </i><br />
    <%= f.password_field :contraseña, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :contraseña_actual %> <i>
      
    </i><br />
    <%= f.password_field :contraseña_actual, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar"%>
  </div>
<% end %>

<%= link_to "Atrás", :back %>
