<%= form_for @chofer, :url => { :action => :update } do |f| %>
  <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",required:true,placeholder:"email" %>
    </div>
     <div class="field">
      <%= f.label :nombre, "Nombre"%><br />
      <%= f.text_field :nombre,required: true, placeholder: "Nombre" %>
    </div>

    <div class="field">
      <%= f.label :apellido, "Apellido" %><br />
      <%= f.text_field :apellido,required: true, placeholder: "apellido" %>
    </div>
    <div class="field">
      <%= f.label :dni,"Documento" %><br />
      <%= f.text_field :dni,required: true, placeholder: "DNI" %>
    </div>
    <div class="field">
      <%= f.label :fecha_de_nacimiento,"Fecha de nacimiento" %><br />
      <%= f.date_field :fecha_de_nacimiento %>
    </div>

    <div class="field">
      <%= f.label :celular,"Numero de celular" %><br />
      <%= f.text_field :celular,required: true, placeholder: "celular" %>
    </div>

    <div class="Actions">
      <%= f.submit "Guardar cambios"%>
    </div>

<%end%>
