<%if current_user && current_user.role == "admin"%>
	<h1>Listado de Choferes</h1>
	<%= link_to "Agregar Chofer", new_chofer_path %>
  <div class="container-fluid">
  <table class="table">
  <thead class="thead-dark">
  <tr align="center">
	    <thead>
  	    <th>Nombre</th> 
	  	  <th>Apellido</th>
    	  <th>Email</th>
        <th colspan="3"></th>
  	</tr>
    </thead>
  <% @choferes.each do |chof| %>
   <% if chof.role == "chofer" %> <br/>
  	<tr>
    	<td><%= chof.nombre %></td> 
    	<td><%= chof.apellido %></td>
    	<td><%= chof.email %></td>
      <td><%= chof.fecha_de_nacimiento.strftime("%d-%m-%Y")%></td>
    	<td>
    	 <%= link_to "Editar", edit_chofer_path(chof.id) %>
       <%= link_to "Mostrar", show_chofer_path(chof.id) %>
       <%= link_to "Eliminar", destroy_chofer_path(chof.id) , method: :delete, data:{confirm:"Desea eliminar este usuario?" }%>
       
      </div>
       <% end %>
    	</td>
  	</tr>
    <% end %>
    </table>
   
 <%else%>
	<div class="alert alert-danger">
	"No tienes acceso suficiente"
	</div>
<%end%>
<br/> <%= link_to "Atrás", :back,home_index_path %>



  