<%= form_for @combi, :url => { :action => :update } do |f| %>
 <div class="field">
  <%= f.label :patente,"Patente" %><br />
  <%= f.text_field :patente,required: true %>
</div>
 <%= f.label :tipo,"Tipo de asiento" %><br />
 <%= f.select :tipo,
       options_for_select(Combi.tipos) %>
    
   <div class="field">
   <%= f.label :cant_asientos, "Cantidad de asientos" %><br />
  <%= f.number_field :cant_asientos, required: true %>
</div>
<div class="field">
 <%= f.label :descripcion,"Descripción" %><br />
  <%= f.text_area :descripcion, required: true %>
</div>
<div class="Actions">
  <%= f.submit "Guardar cambios"%>
</div>
<% end %>
<%=link_to "Atrás", :back,home_index_path %>
