<%if current_user && current_user.role == "admin"%>
	<h1> Listado de combis</h1>
	  <div class="container-fluid">
  	  <table class="table">
  	  <thead class="thead-dark">
  	  <tr align="center">
		<thead>
			<th> Patente </th>
			<th> Tipo </th>
			<th> Asientos </th>
			<th> Descripcion </th>
			<th colspan=4></th>
		</thead>
	</tr>
	<% @combis.each do |combi| %>
	<tr>
		<td><%= combi.patente %></td>
		<td><%= combi.tipo %></td>
		<td><%= combi.cant_asientos %></td>
		<td><%= combi.descripcion %></td>
		<td>
		<%= link_to "Editar", edit_combi_path(combi.id) %>
		<%= link_to "Eliminar", combi, method: :delete, data: { confirm: "¿Seguro que desea eliminar la combi?"}%>
		</td>
	</tr>
	<% end %>
	<%= link_to "Agregar nueva combi", combis_new_path %>
	</table>


 <%else%>
<div class="alert alert-danger">
	"No tienes acceso suficiente"
	</div>
<%end%>

<br /><%= link_to "Atrás", viajes_buscador_path %>
