<%= form_for @combi, :url => { :action => :create }  do |f| %>

<div>
	<%= f.label :patente,"Patente" %>
	<%= f.text_field :patente,required: true %>
</div>
<div>
	<%= f.label :tipo, "Tipo de asiento" %>
	<%= f.text_field :tipo,required: true %>
</div>
<div>
	<%= f.label :cant_asientos,"Cantidad de asientos" %>
	<%= f.number_field :cant_asientos,required: true %>
</div>
<div>
	<%= f.label :descripcion,"Descripción" %>
	<%= f.text_area :descripcion %>
</div>
<div>
	<%= f.submit "Crear combi" %>
</div>
<% end %>