<%if current_user && current_user.role == "pasajero"%>
<%= form_for @pasaje do |f| %>
<div>
  <%= f.label :titular,"Nombre del pasajero" %>
  <%= f.text_field :titular%>
</div>
<div>
  <%= f.label :dni_t,"DNI del pasajero" %>
  <%= f.text_field :dni_t%>
</div>
<% end %>
<% else %>
<div class="alert alert-danger">
 "Debes ser pasajero"
 </div>
<% end %>
<%=link_to "Atrás", :back %>
