<%= form_for @insumo do |f| %>

    <div>
        <%= f.label :nombre %>
        <%= f.text_field :nombre %>
    </div>
    <div>
        <%= f.label :precio %>
        <%= f.number_field :precio %>
    </div>
    <div>
        <%= f.label :url_img %>
        <%= f.text_field :url_img %>
    </div>

    <div>
        <%= f.submit %>
    </div>
    <% end %>