<%if current_user && current_user.role == "admin"%>

<%= form_for @viaje do |f| %>

<div>
	<%= f.label :origen,"Origen" %>
	<%= f.collection_select(:origen, Ciudad.all, :id, :nombre, :prompt => 'Elegir Destino') %>
</div>
<div>
	<%= f.label :destino,"Destino" %>
	<%= f.collection_select(:destino, Ciudad.all, :id, :nombre, :prompt => 'Elegir Destino') %>
</div>
<div>
	<%= f.label :fecha_salida,"Fecha de salida" %>
	<%= f.date_field :fecha_salida, required: true  %>
</div>
<div>
	<%= f.label :hor_salida,"Hora de salida"%>
	<%=	f.time_field :hor_salida , required: true %>
</div>
<div>
	<%= f.label :fecha_llegada,"Fecha de llegada" %>
	<%= f.date_field :fecha_llegada, required: true  %>
</div>
<div>
	<%= f.label :hor_llegada,"Hora de llegada" %>
	<%= f.time_field :hor_llegada, required: true  %>
</div>
<div>
	<%= f.label :precio, "Precio" %>
	<%= f.number_field :precio, required: true  %>
</div>
<div>
	<%= f.label :cant_pasajes,"Pasajes disponibles" %>
	<%= f.number_field :cant_pasajes, required: true  %>
</div>
<div>
	<%= f.label :combi,"Combi" %>
	<%= f.collection_select(:combi_id, Combi.all, :id, :patente, :prompt => 'Elegir Combi') %>
</div>
<div>
	<%= f.label :user,"Chofer" %>
	<%= f.collection_select(:user_id, User.where(role:2), :id, :nombre, :prompt => 'Elegir Chofer') %>
</div>
 <div class="Actions">
   	<%= f.submit "Guardar Cambios"%>
  </div>
<% end %>
<br/> <%= link_to "Atrás", viajes_path %>
<%else%>
	<%if current_user && current_user.role == "chofer"%>
	<%= form_for @viaje do |f| %>
	<div class="field">
	 <%= f.label :estado,"Estado del viaje" %><br />
	 <%= f.select :estado, options_for_select(Viaje.estados) %>
	</div>
	<div class="Actions">
		 <%= f.submit "Guardar Cambios"%>
	 </div>
	 <br/> <%= link_to "Atrás", pasajes_index_path %>
	 <%end%>
	<%else%>
	<div class="alert alert-danger">
		"No tienes acceso suficiente"
	</div>
	<%end%>
<%end%>
