<%if current_user && current_user.role == "admin"%>
	<h1> Listado de viajes</h1>

 <%= link_to "Agregar nuevo viaje", viajes_new_path %>
 	<div class="container-fluid">
 	<table class="table">
 	<thead class="thead-dark">
 	<tr align="center">

		<thead>
			<th> Origen </th>
			<th> Destino </th>
			<th> Fecha Salida </th>
			<th> Hora Salida </th>
			<th> Fecha Llegada </th>
			<th> Hora Llegada </th>
			<th> Precio </th>
			<th> Pasajes </th>
			<th> Combi </th>
			<th> Chofer </th>
			<th colspan="9"></th>
	</thead>
	<% @viajes.each do |viaje| %>
	<tr>
		<td><%= Ciudad.find(viaje.origen).nombre %></td>
		<td><%= Ciudad.find(viaje.destino).nombre %></td>
		<td><%= viaje.fecha_salida.strftime("%d/%m/%Y") %></td>
		<%if viaje.hor_salida.nil?%>
			<td><%="0:0"%></td>
		<%else%>
			<td><%= viaje.hor_salida.strftime("%H:%M")%></td>
		<%end%>
		<td><%= viaje.fecha_llegada.strftime("%d/%m/%Y")%></td>
		<%if viaje.hor_llegada.nil?%>
			<td><%="0:0"%></td>
		<%else%>
			<td><%= viaje.hor_llegada.strftime("%H:%M")%></td>
		<%end%>
		<td><%= viaje.precio %></td>
		<td><%= viaje.cant_pasajes %></td>
		<td><%= Combi.find(viaje.combi_id).patente %></td>
		<td><%= User.find(viaje.user_id).nombre %></td>
		<td>
		<%= link_to "Editar", edit_viaje_path(viaje) %>
		<%= link_to "Eliminar", viaje, method: :delete, data: { confirm: "¿Seguro que desea eliminar el viaje?"}%>
	</td>
	</tr>
	</div>

	<% end %>
<%else%>
<div class="alert alert-danger">
	"No tienes acceso suficiente"
	</div>
<%end%>
<br/> <%= link_to "Atrás", viajes_buscador_path %>
