<h1> Resultados</h1>
<div class="d-flex justify-content-center">
  <figure class="figure">
    <%= image_tag Ciudad.find(@viajes.last.destino).url_img, class:"figure-img img-fluid rounded", size: "400x300", align: "middle" %>
  <figcaption class="figure-caption"><%=Ciudad.find(@viajes.last.destino).descrip%></figcaption>
  </figure>
  </div>
<div class="container-fluid">
<table class="table table-hover">
<thead class="thead-dark">
  <th> Fecha Salida </th>
  <th> Hora Salida </th>
  <th> Fecha Llegada </th>
  <th> Hora Llegada </th>
  <th> Precio </th>
  <th> Pasajes </th>
  <th> Combi </th>
  <th> </th>
  <th> </th>
</table>
<% @viajes.each do |viaje| %>
<%if viaje.cant_pasajes > 0%>
<table class="table table-hover">
  <td><%=viaje.fecha_salida.strftime("%d/%m/%Y")%></td>
  <%if viaje.hor_salida.nil?%>
    <td><%="0:0"%></td>
  <%else%>
    <td><%=viaje.hor_salida.strftime("%H:%M")%></td>
  <%end%>
  <td><%= viaje.fecha_llegada.strftime("%d/%m/%Y")%></td>
  <%if viaje.hor_llegada.nil?%>
    <td><%="0:0"%></td>
  <%else%>
    <td><%= viaje.hor_llegada.strftime("%H:%M")%></td>
  <%end%>
  <td>$<%=viaje.precio %></td>
  <td><%=viaje.cant_pasajes%></td>
  <td><%=viaje.combi.tipo%></td>
  <%if user_signed_in? %>
    <%if current_user && current_user.role == "pasajero"%>
    <td><%=link_to "Comprar", comprar_pasaje_path(viaje.id),class:"btn btn-primary"%></td>
    <%else%>
    <%if current_user && current_user.role == "chofer"%>
    <td><%=link_to "Vender pasaje", comprar_pasaje_path(viaje.id),class:"btn btn-primary"%></td>
    <%else%>
    <div class="alert alert-danger">
    	"Debes ser usuario pasajero para comprar"
    	</div>
    <%end%>
    <%end%>
  <%else%>
    <td><%=link_to "Comprar", new_user_session_path, notice: "Debe iniciar sesion o registrarse para comprar un viaje", class:"btn btn-primary"%></td>
  <%end%>
  </table>
  <br>


</div>
<%end%>
<%end%>
