<%if current_user && current_user.id == @pasaje.user_id%>
	<h1>Pasaje cancelado correctamente</h1>
 	<div class="container-fluid">
 	<table class="table">
 	<thead class="thead-dark">
 	<tr align="center">

		<thead>
      <th> Titular </th>
			<th> Origen </th>
			<th> Destino </th>
			<th> Fecha Salida </th>
			<th> Hora Salida </th>
			<th> Fecha Llegada </th>
			<th> Hora Llegada </th>
			<th> Precio </th>
			<th> Insumos </th>
			<th> Chofer </th>
			<th colspan="9"></th>
	</thead>
	<td><%= @pasaje.titular %></td>
		<td><%= Ciudad.find(Viaje.find(@pasaje.viaje_id).origen).nombre %></td>
    <td><%= Ciudad.find(Viaje.find(@pasaje.viaje_id).destino).nombre %></td>
    <td><%= Viaje.find(@pasaje.viaje_id).fecha_salida.strftime("%d/%m/%Y") %></td>
    <td><%= Viaje.find(@pasaje.viaje_id).hor_salida.strftime("%H:%M")%></td>
    <td><%= Viaje.find(@pasaje.viaje_id).fecha_llegada.strftime("%d/%m/%Y") %></td>
    <td><%= Viaje.find(@pasaje.viaje_id).hor_llegada.strftime("%H:%M")%></td>
    <td><%= @pasaje.precio%></td>
		<% @insumos=@pasaje.insumos%>
		<td><% @insumos.each do |insumo| %>
			<%=insumo.nombre%>
		<%end%>
		</td>
    <td><%= User.find(Viaje.find(@pasaje.viaje_id).user_id).nombre%></td>
		<% @v1=Viaje.find(@pasaje.viaje_id)%>
		<% @v1.cant_pasajes=@v1.cant_pasajes+1%>
		<% @v1.save%>

    <% @pasaje.insumos.each do |insumo| %>
    <%@i1=Insumo.find(insumo.id)%>
    <%@i1.stock=@i1.stock+1%>
    <%@i1.save%>
    <%end%>
    <%@pasaje.estado="Cancelado"%>
    <%@pasaje.save%>
	</tr>
	</thead>
  </table>
  </div>
<%else%>
<div class="alert alert-danger">
	"No tienes acceso suficiente"
	</div>
<%end%>
<br/><%= link_to "Listo", pasajes_index_path %>
