<%if current_user && current_user.role != "admin"%>
<h1 class="_70d32459db22475c3f25d5917f32a078-scss"> Paso 1: COMPLETA LOS DATOS</h1>

<%= form_for @pasaje do |f| %>

  <div class="field">
  <%= f.label :titular,"Nombre del pasajero" %><br />
  <%= f.text_field :titular, required: true, placeholder: 'Nombre completo'%>
 </div>

  <div class="field">
  <%= f.label :dni_t,"DNI del pasajero" %><br />
  <%= f.text_field :dni_t, required: true, placeholder: 'Sin puntos'%>
 </div>
   <div class="field">
    <%= f.hidden_field :precio, value: Viaje.find(@viaje).precio %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="field">
    <%= f.hidden_field :viaje_id, value: @viaje %>
  </div>

  <div class="field">
    <%= f.hidden_field :nro_t, value: 9000000000000000%>
    <%= f.hidden_field :estado, value: "Activo"%>
    <%= f.hidden_field :cod_t, value: 900%>
    <%= f.hidden_field :dni_tarjeta, value: 80000000%>
  </div>
<br />
<h1 class="_70d32459db22475c3f25d5917f32a078-scss"> Paso 2: SELECCIONE LOS SNACKS PARA EL VIAJE</h1>
<div class="container-fluid">
<table class="table">
<thead class="thead-dark">
<tr align="center">
    <thead>
      <th> Nombre </th>
      <th> Precio </th>
      <th> Imagen </th>
      <th> Seleccionar</th>
      <th colspan=3></th>
    </thead>

<%= f.collection_check_boxes :insumo_ids, @insumos, :id, :nombre do |b| %>
<br />
<tr>
<td><%= b.object.nombre %></td>
<td>$<%= b.object.precio %></td>
<td><%= image_tag b.object.url_img,size: "100x100" %></td>
<td class="collection-check-box">
     <%= b.check_box %>
     <%= b.label %>
   </td>
</tr>
<% end %>
</table>
<br />
<p align="right">
<%=f.submit "Siguiente"%><br />
<% end %>
</p>
<% else %>
<div class="alert alert-danger">
 "Debes ser pasajero para comprar"
 </div>
<% end %>
<p align="left">
<button><%=link_to "Atrás", :back %></button>
</p>
