<%if current_user && current_user.role == "pasajero"%>
<h1> Complete los datos para confirmar su compra</h1><br />
<h1> Precio del pasaje:<%=Viaje.find(Pasaje.find(@pasaje).viaje_id).precio%><br /> </h1><br />
<%= form_for @pasaje, html: { method: :get  } do |f| %>

  <div class="field">
  <%= f.label :nombre_tarjeta,"Nombre del titular de la tarjeta" %><br />
  <%= f.text_field :nombre_tarjeta, required: true, placeholder: 'Como figura en la tarjeta',autofocus: true%>
</div>

  <div class="field">
  <%= f.label :dni_tarjeta,"DNI del tiular de la tarjeta" %><br />
  <%= f.text_field :dni_tarjeta, required: true, placeholder: 'Sin puntos',autofocus: true%>
</div>
<div class="field">
  <%= f.label :nro_t, "Numero de tarjeta" %><br />
  <%= f.text_field :nro_t, required: true, placeholder: '16 digitos' %>
</div>
<div class="field">
    <%= f.label "Vencimiento:" %><br />
    <%= f.select :v_m_tarjeta, [1,2,3,4,5,6,7,8,9,10,11,12] %>
    <%= f.select :v_a_tarjeta, [2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030] %>
    </div>

    <div class="field">
    <%= f.label :cod_t, "Codigo de seguridad" %><br />
    <%= f.text_field :cod_t, placeholder: '3 digitos en el dorso',required: true %>
    </div><br />

 <div class="actions">
    <%= link_to "Confirmar compra", show_pasaje_path,class: ' btn btn-outline-info'%>
 </div>
<% end %>
<% else %>
<div class="alert alert-danger">
 "Debes ser pasajero"
 </div>
<% end %>


<%=link_to "Atrás", :back %>
