<%= form_for @pasaje,:url => { :action => :show }, html:{method: :get}  do |f| %>
  <div class="field">
      <%= f.label :titular %><br />
      <%= f.email_field :titular, readonly: true %>
    </div>
     <div class="field">
      <%= f.label :dni_t, "Nombre Completo"%><br />
      <%= f.text_field :dni_t,readonly: true %>
    </div>
    <div class="field">
      <%= f.label :viaje_id,"ID del viaje" %><br />
      <%= f.text_field :viaje_id,readonly: true %>
    </div>
    
    <div class="field">
      <%= f.label :precio,"Precio del pasaje" %><br />
      <%= f.number_field :precio,readonly: true %>
    </div>


<%end%>